<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>投稿</title>
</head>
<body>

    <div class="title" th:replace="'blogs'::header">
        
    </div>
    <nav>
            <a href="/blogs">ホーム</a>
            <a href="/Pos" style="margin-left: 15px;">投稿</a>
        </nav>
    
    <main class="content">
        <div class="form-container">
            <h1>記事投稿</h1>

            <form action="/blogs" method="post">

                <input type="text" name="title"  placeholder="タイトル" size="50">
                <br><br>
                <textarea name="content" rows="10" cols="100" placeholder="本文" ></textarea>
                <br><br>
                <button type="submit">投稿</button>
                <a href="/blogs">キャンセル</a>
            </form>
        </div>

    </main>
</body>
</html>